body {
    width: 70%;
    margin: 30px auto;
}

h1 {
    text-align: center;
    text-emphasis: inherit;
    color: rgb(112, 24, 24)
}

h2 {
    text-align: center;
}

img {
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 300px;
}
main{
    text-align: center;
}
.param {
    display: flex;
    width: 300px;
    text-align: center;
}

.param :nth-child(1) {
    margin-righ: 10px;
}

.param :nth-child(2) {
    width: 200px;
}

p {
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
}

#calculate,
#all_toppings,
#get_stuffing,
#get_size {
    display: inline-block;
    width: 200px;
    height: 30px;
    margin: auto auto 10px auto;
}

.menu {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1px;
}

.menu div {
    background-color: lightblue;
    text-align: center;
}

.menu :nth-child(1) {
    grid-row: 1;
    grid-column: 1/9;
}

.menu :nth-child(2) {
    grid-row: 2/4;
    grid-column: 1;
}

.menu :nth-child(3) {
    grid-row: 2;
    grid-column: 2/4;
}

.menu :nth-child(4) {
    grid-row: 2;
    grid-column: 4/7;
}

.menu :nth-child(5) {
    grid-row: 2;
    grid-column: 7/9;
}

button{
    color: wheat;
    background-color: blue;
}